.card-list {
    padding: 70px 70px 10px;
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
}

.card-list__button-container {
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}

.card-list__more-button {
    cursor: pointer;
    margin: 50px 0 80px;
    padding: 0;
    width: 320px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.card-list__more-button:hover {
    opacity: 0.8;
}

.card-list__more-button_hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    .card-list {
        padding: 60px 30px 30px;
    }
}

@media screen and (max-width: 600px) {
    .card-list {
        padding: 40px 10px 20px;
        row-gap: 20px;
    }

    .card-list__more-button {
        width: 240px;
    }
}